{% extends 'base.html' %}

{% block title %} Vote {% endblock %}

{% block body %}
    <script src="{{ url_for("static", filename="js/blinding.js") }}" type="text/javascript"></script>
    <h1 style="text-align:center;">{{ election.name }}</h1>

    <h4>Paramètres de sécurité pris pour cette élection: </h4>
    <div class="accordion" id="rsa_params" style="width: 40%;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#voteToken" aria-expanded="false">
                    Mon "Vote Token"
                </button>
            </h2>
            <div id="voteToken" class="accordion-collapse collapse" aria-labelledby="voteToken"
                 data-bs-parent="#rsa_params" style="display: none">
                <div class="accordion-body">
                    <p class="card-text">Voici votre identifiant unique pour cette élection:</p>
                    <p class="card-text" style="text-align: justify; overflow-wrap: break-word;">{{ vote_token }}</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#signature" aria-expanded="false">
                    Clef de signature
                </button>
            </h2>
            <div id="signature" class="accordion-collapse collapse" aria-labelledby="signature"
                 data-bs-parent="#rsa_params" style="">
                <div class="accordion-body">
                    <p class="card-text">Ceci est la clef utilisée pour la signature à l'aveugle</p>
                    {% set signing_e, signing_N = admin_signing_pk.split('$') %}
                    <p class="card-text" style="text-align: justify; overflow-wrap: break-word;"><b>e</b>
                        = {{ "%0x" | format(signing_e | int) }}</p>
                    <p class="card-text" style="overflow-wrap: break-word;"><b>N</b>
                        = {{ "%0x" | format(signing_N | int) }}</p>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div style="display: flex; justify-content: space-around">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Mon "Vote Token"</div>
            <div class="card-body">
                <p class="card-text">Voici votre identifiant unique pour cette élection:</p>
                <p class="card-text" style="text-align: justify; overflow-wrap: break-word;">{{ vote_token }}</p>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Clef de signature</div>
            <div class="card-body">
                <p class="card-text">Ceci est la clef utilisée pour la signature à l'aveugle</p>
                {% set signing_e, signing_N = admin_signing_pk.split('$') %}
                <p class="card-text" style="text-align: justify"><b>e</b> = {{ "%0x" | format(signing_e | int) }}</p>
                <p class="card-text" ><b>N</b> = {{ "%0x" | format(signing_N | int) }}</p>

            </div>
        </div>
    </div>
    -->
    <h3 style="text-align:center; margin: 2em;">Liste de candidats</h3>
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
        {% for candidate, candidate_number in election.candidates %}

            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2>"{{ candidate.name }}" </h2>
                </div>
                <div class="card-body">
                    {{ candidate.description }}
                </div>
                <div class="card-footer">
                    <form name="candidate:{{ candidate_number }}" id="form:{{ candidate_number }}"
                          action="/api/make_choice/" onsubmit="onSubmitToAdmin(this);" method="post">
                        <input type="hidden" id="election_id" name="election_id" value={{ election.id }}>
                        <input type="hidden" id="vote_token" name="vote_token" value={{ vote_token }}>
                        <input type="hidden" id="blinded_choice" name="blinded_choice" value={{ candidate_number }}>
                        <input type="hidden" id="admin_signing_pk" name="admin_signing_pk" value={{ admin_signing_pk }}>
                        <button type="submit" class="btn btn-outline-danger">
                            Voter
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer>
        <hr>
        <small> Sources utilisées:
            <ul>
                <li>Couleurs : https://www.toutes-les-couleurs.com/signification-des-couleurs.php</li>
                <li>Fruits: https://www.conservation-nature.fr/food/fruits/</li>
                <li>Musique: https://linkaband.com/blog-musique/culture/style-musique</li>
            </ul>
        </small>
    </footer>

{% endblock %}

{% block script %}
    <script>
        const acc_items = document.getElementsByClassName("accordion-button collapsed");
        for (var i = 0; i < acc_items.length; i++) {
            acc_items[i].addEventListener("click", function () {
                var panel = this.parentElement.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}