{% extends 'base.html' %}

{% block title %} Vote {% endblock %}

{% block body %}
    <script src="{{ url_for("static", filename="js/blinding.js") }}" type="text/javascript"></script>
    <h3 style="text-align:center;">Liste de candidats</h3>


    {% for candidate, candidate_number in election.candidates %}

        <div class="card border-primary mb-3">
            <div class="card-header">
                <h2>"{{ candidate.name }}" </h2>
            </div>
            <div class="card-body">
                [Description du candidat {{ candidate.name }}]
            </div>
            <div class="card-footer">
                <form name="candidate:{{ candidate_number }}" id="form:{{ candidate_number }}" action="/api/make_choice/" onsubmit="onSubmitToAdmin(this);" method="post">
                    <input type="hidden" id="election_id" name="election_id" value={{ election.id }}>
                    <input type="hidden" id="vote_token" name="vote_token" value={{ vote_token }}>
                    <input type="hidden" id="blinded_choice" name="blinded_choice" value={{ candidate_number }}>
                    <input type="hidden" id="election_pk" name="election_pk" value={{ election_pk }}>
                    <input type="hidden" id="admin_signing_expo" name="admin_signing_expo" value={{ admin_signing_expo }}>
                    <button type="submit" class="btn btn-outline-success">
                        Voter
                    </button>
                </form>
            </div>
        </div>


    {% endfor %}

{% endblock %}
