{% extends 'base.html' %}

{% block title %}Elections{% endblock %}


{% block body %}
    <script defer src="{{ url_for("static", filename="js/fingerprint.js") }}" type="module"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div id="popUp" class="alert alert-dismissible alert-success">
                    <button id="closeBtn" type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ msg }} <a href="#" class="alert-link">see results</a>.
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h3 style="text-align:center;">List of elections!</h3>

    {% for election_id, election_name, election_description in elections_info %}
        <div class="card border-primary mb-3">
            <div class="card-header">
                <h2>Election {{ election_name }}</h2>
            </div>
            <div class="card-body">
                Description: {{ election_description }}
            </div>
            <div class="card-footer">
                <a href="./election/{{ election_id }}">
                    <button class="btn btn-outline-success">
                        Participer
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block script %}
{#    <script>#}
{#        function closeThisBtn() {#}
{#            const popUpMsg = document.getElementById("popUp");#}
{#            const btn = document.getElementById("closeBtn");#}
{#            btn.onclick = function () {#}
{#                if (popUpMsg.style.display !== "none") {#}
{#                    console.log("close")#}
{#                    popUpMsg.style.display = "none";#}
{#                } else {#}
{#                    popUpMsg.style.display = "block";#}
{#                }#}
{#            };#}
{#        }#}
{##}
{#        closeThisBtn()#}
{#    </script>#}
{% endblock %}
