{% extends 'base.html' %}

{% block title %}Elections{% endblock %}


{% block body %}
    <script src="{{ url_for("static", filename="js/fingerprint.js") }}" type="text/javascript"></script>

    <h3 style="text-align:center; margin: 2em">Liste des élections!</h3>

    <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
        {% for election in all_elections %}
            <div class="card border-success mb-2" style="width: 40%;">
                <div class="card-header">
                    <h2>{{ election.name }}</h2>
                </div>
                <div class="card-body">
                    Description: {{ election.description }}
                </div>
                <div class="card-footer">
                    <a href="./election/{{ election.id }}">
                        <button class="btn btn-outline-success">
                            Participer
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script> generateFingerprint(window.location.href + "api/fingerprint/", 0)</script>
{% endblock %}
{% block script %}
{% endblock %}
