<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sending to Ballot</title>
    <script src="{{ url_for("static", filename="js/blinding.js") }}" type="text/javascript"></script>
</head>
<body>
<form name="to_ballot" action="/api/send_choice/" onsubmit="onSubmitToBallot(this);" method="post">
    <input type="hidden" name="election_id" value={{ election_id }}>
    <input type="hidden" name="vote_token" value={{ vote_token }}>
    <input type="hidden" name="signed_choice" value={{ signed_choice }}>
</form>
<script>
    window.onload = function () {
        document.forms['to_ballot'].submit();
    }
</script>
</body>
</html>